body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgb(120, 32, 202);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.div-temporizador {
    background-color: white;
    color: rgb(120, 32, 202);
    border-radius: 30px;
    padding: 50px;
    text-align: center;
    font-size: 18px;
}

.div-temporizador > h1{
    font-size: 30px;
}

.div-temporizador > p{
    font-size: 22px;
}

footer {
    color: rgb(168, 168, 168);
    text-align: end;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0px 0px;
}

@media (max-width: 800px) {
    body {
        height: 70vh;
    }

    .div-temporizador > h1{
        font-size: 25px;
    }
    
    .div-temporizador > p{
        font-size: 20px;
    }
}